body {
  display: flex;
  justify-content: center;
}

.edge {
  margin-top: 50px;
  border: black solid 2px;
  border-radius: 15px;
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
}

.model {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.display {
  display: flex;
  width: 400px;
  height: 100px;
  border: lightgray solid 1px;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 0 20px;
  font-size: 40px;
  justify-content: end;
  align-items: center;
}

.value {
  /* border: blue dotted 1px; */
  height: 60px;
}

.row {
  display: flex;
  width: 400px;
  height: 100px;
  border: white solid 1px;
  justify-content: space-around;
  align-items: center;
}

.button {
  box-sizing: border-box;
  padding-top: 20px;
  width: 75px;
  height: 75px;
  border: solid 1px black;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.button-on-off {
  width: 150px;
}
